#Settings {
  position: relative;
}

#settings-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 35px;
  right: 20px;
  width: 195px;
  background: white;
  height: 310px;
  border: 1px solid #7a7a7a;
  padding: 10px 0;
  box-shadow: 0 0 2px #7a7a7a;
}
.settingText {
  font-size: 14px;
  padding: 0 5px;
  color: #5f6368;
}
